@import url('https://fonts.googleapis.com/css?family=Open+Sans|Overpass:300,400,700,900|Raleway:700,800&display=swap');

html {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Overpass', sans-serif;
}